.main__block-cards {
	margin-bottom: 53px;
}

.block-cards__card {
	display: block;
	width: 300px;	
	height: 123px;
	padding-left: 23px;
	text-decoration: none;
	color: white;
}

.block-cards__card:nth-of-type(1),
.block-cards__card:nth-of-type(2),
.block-cards__card:nth-of-type(3) {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.block-cards__card:nth-of-type(3) {
	margin-right: 0;
}

.block-cards__card:nth-of-type(4),
.block-cards__card:nth-of-type(5) {
	float: right;
	margin-bottom: 20px;
}

.block-cards__card:nth-of-type(5) {
	margin-bottom: 0;
}

.card_decor:nth-of-type(1) {
	background-color: #ffbf47;
	background-image: url("../img/index/bucket.png"), url("../img/index/new-line.png");
	background-repeat: no-repeat;
	background-position: 213px 31px,	240px 0px;
}

.card_decor:nth-of-type(2) {
	background-color: #3bbce3;
	background-image: url(../img/index/drill.png);
	background-repeat: no-repeat;
	background-position: 197px 33px;
	
}

.card_decor:nth-of-type(3) {
	background-color: #dc91d8;
	background-image: url(../img/index/tractor.png);
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.card_decor:nth-of-type(4) {
	background-color: #8ed78f;
	background-image: url(../img/index/big-basket.png);
	background-repeat: no-repeat;
	background-position: 196px 26px;
}

.card_decor:nth-of-type(5) {
	background-color: #ffc047;
	background-image: url(../img/index/car.png);
	background-repeat: no-repeat;
	background-position: 191px 32px;
}

.card__name-h {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
}

.card__depiction-p {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 132px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.block-cards__slider {
	float: left;
	position: relative;
	width: 620px;
	height: 266px;
	background-color: grey;
}

.slider__input {
	display: none;
}

.slider__scroll {
	position: absolute;
	top: 204px;	
	left: 254px;
}

.scroll__scroll-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

.scroll-item__toggle {
	display: block;
	width: 10px;		
	height: 10px;
	background-color: #f36f78;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.slider__slider-one {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-image: url("../img/index/slider-one.jpg");
	background-repeat: no-repeat;
}

.slider__slider-two {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-image: url("../img/index/slider-two.jpg");
	background-repeat: no-repeat;
}

.slider-one__h-slider {
	margin: 0;
	margin-bottom: 5px;
	padding-top: 26px;
	padding-left: 24px;
	font-size: 36px;
	line-height: 30px;
	color: #ffffff;
	text-transform: uppercase;
}

.slider-one__p-slider {
	margin: 0;
	padding-left: 25px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.slider-one__button-a {
	position: absolute;
	bottom: 22px;
	left: 30px;
}

.button_decor {
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 45px;
	padding-right: 45px;
	border-radius: 5px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	background-color: #ff5357;
	text-transform: uppercase;
	text-decoration: none;
}

.line_decor {
	min-height: 90px;
	margin-bottom: 20px;
	padding-top: 21px;
	padding-left: 28px;
	background-color: #f9f5f0;
}

.line_decor-h {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	color: #3d546e;
}

.popular-products-line__a-size {
	padding-left: 55px;
	padding-right: 55px;
}

.button_decor-position {
	float: right;
	margin-top: 4px;
	margin-right: 24px;
}

.popular-products__card {
	float: left;
	width: 220px;
	min-height: 318px;
	border: 1px solid #f9f5f0;
	margin-right: 20px;
	margin-bottom: 20px;
}

.popular-products__card:nth-of-type(4n) {
	margin-right: 0;
}

.popular-products__card:nth-of-type(4) {
	background-image: url(../img/index/new-line.png);
	background-repeat: no-repeat;
	background-position: 159px -2px;
	
}

.popular-products__card:nth-of-type(1) .card__cadr-link-img {
	padding-top: 3px;
}

.popular-products__card:nth-of-type(2) .card__cadr-link-img {
	padding-top: 27px;
	padding-left: 39px;
}

.popular-products__card:nth-of-type(3) .card__cadr-link-img {
	padding-top: 20px;
	padding-left: 26px;
}

.popular-products__card:nth-of-type(4) .card__cadr-link-img {
	padding-top: 27px;
	padding-left: 31px;
}

.card__cadr-link-img {
	display: block;
	width: 100%;
	height: 170px;
	padding-left: 20px;
	vertical-align: middle;
}

.cadr-link-img__card-img {
	margin-left: auto;
	margin-right: auto;
}

.card__cadr-link-h {
	display: block;
	width: 180px;
	margin-left: 19px;
	font-family: "PT Sans", "Aria", sans-serif;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	color: #000000;
}

.cadr-link-h__card-h {
	margin: 0;
	margin-top: 8px;
	margin-bottom: 7px;
}

.card__old-price {
	margin-left: 78px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: line-through;
	text-transform: uppercase;
}

.card__price {
	position: relative;
	display: block;
	width: 121px;
	margin-top: 5px;
	margin-left: 42px;
	padding-top: 5px;
	padding-left: 18px;
	padding-bottom: 6px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #ff5357;
	font-family: "PT Sans", "Aria", sans-serif;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #000000;
	text-decoration: none;
}

.card__price::after {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 121px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-left: 19px solid #ff5357;
	border-bottom: 19px solid transparent;
}

.popular-firms__block-item {
	display: inline-block;
	width: 220px;
	height: 145px;
	margin-right: 16px;
	margin-bottom: 19px;
	border: 1px solid #f9f5f0;
	text-align: center;
	vertical-align: middle;
}

.popular-firms__block-item:nth-of-type(4n) {
	margin-right: 0;
}

.bosh {
	background-image: url("../img/index/bosch.svg");
	background-position: center center;
	
}