.block-cards__card {
	display: block;
	width: 300px;	
	height: 123px;
	padding-left: 23px;
	text-decoration: none;
	color: white;
}

.block-cards__card:nth-of-type(1),
.block-cards__card:nth-of-type(2),
.block-cards__card:nth-of-type(3) {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.block-cards__card:nth-of-type(3) {
	margin-right: 0;
}

.block-cards__card:nth-of-type(4),
.block-cards__card:nth-of-type(5) {
	float: right;
	margin-bottom: 20px;
}

.block-cards__card:nth-of-type(5) {
	margin-bottom: 0;
}

.card_decor:nth-of-type(1) {
	background-color: #ffbf47;
	background-image: url("../img/index/bucket.png"), url("../img/index/new-line.png");
	background-repeat: no-repeat;
	background-position: 213px 31px,	240px 0px;
}

.card_decor:nth-of-type(2) {
	background-color: #3bbce3;
	background-image: url(../img/index/drill.png);
	background-repeat: no-repeat;
	background-position: 197px 33px;
	
}

.card_decor:nth-of-type(3) {
	background-color: #dc91d8;
	background-image: url(../img/index/tractor.png);
	background-repeat: no-repeat;
	background-position: 191px 31px;
}

.card_decor:nth-of-type(4) {
	background-color: #8ed78f;
	background-image: url(../img/index/big-basket.png);
	background-repeat: no-repeat;
	background-position: 196px 26px;
}

.card_decor:nth-of-type(5) {
	background-color: #ffc047;
	background-image: url(../img/index/car.png);
	background-repeat: no-repeat;
	background-position: 191px 32px;
}

.card__name-h {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 0;
}

.card__depiction-p {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 132px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.block-cards__slider {
	float: left;
	position: relative;
	width: 620px;
	height: 266px;
	background-color: grey;
}

.slider__input {
	display: none;
}

.slider__scroll {
	position: absolute;
	top: 204px;	
	left: 254px;
}

.scroll__scroll-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}

.scroll-item__toggle {
	display: block;
	width: 10px;		
	height: 10px;
	background-color: #f36f78;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.slider__slider-one {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-image: url("../img/index/slider-one.jpg");
	background-repeat: no-repeat;
}

.slider__slider-two {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	background-image: url("../img/index/slider-two.jpg");
	background-repeat: no-repeat;
}

.slider-one__h-slider {
	margin: 0;
	margin-bottom: 5px;
	padding-top: 26px;
	padding-left: 24px;
	font-size: 36px;
	line-height: 30px;
	color: #ffffff;
	text-transform: uppercase;
}

.slider-one__p-slider {
	margin: 0;
	padding-left: 25px;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.slider-one__button-a {
	position: absolute;
	bottom: 22px;
	left: 30px;
}

.button-decor {
	display: inline-block;
	vertical-align: top;
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 45px;
	padding-right: 45px;
	border-radius: 5px;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	background-color: #ff5357;
	text-transform: uppercase;
	text-decoration: none;
}