html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	background-color: #ffffff;
}

.wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.header {	
	background-color: #f3f7f8;
	margin-bottom: 124px;
}

.header__head-line {
	min-height: 42px;
	background-color: #293449;
	color: #ffffff;
}

.logotype {
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ff5357;
	color: #ffffff;
	box-shadow: 0 5px 0 0 #cc6568;
}

.head-line__logo {
	display: inline-block;
	vertical-align: middle;
	min-height: 42px;
	padding-top: 4px;
	padding-left: 55px;
	padding-right: 55px;
	font-size: 24px;
}

.head-line__search,
.head-line__bookmarks,
.head-line__basket,
.head-line__checkout {
	display: inline-block;
	width: 150px;
	height: 42px;
	margin-left: -4px;
	vertical-align: top;
	text-align: center;
}

.head-line__search {
	width: 270px;
	padding-left: 45px
}

.header-search {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 100%;
	height: 100%;
	color: #ffffff;
	outline: none;
	border: none;
	background-color: #293449;
}

.header-search::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -710px -30px;
	
}

.head-line__bookmarks,
.head-line__basket {
	padding-left: 16px;
}

.bookmarks__span,
.basket__span {
	display: inline-block;
	padding-top: 8px;
	padding-left: 4px;
	vertical-align: top;
}

.head-line__checkout {
	box-sizing: border-box;
	padding-top: 7px;
	background-color: #5fbb2d;
	color: #ffffff;
	text-decoration: none;
}

.info-registration__h,
.info-registration__contact-header,
.info-registration__registration {
	display: inline-block;
	vertical-align: middle;
	min-height: 137px;
	margin-right: -4px;
}

.info-registration__h {
	width: 310px;
	padding-top: 38px;
	padding-left: 51px;
	padding-right: 50px;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	font-weight: normal;
	color: #ff5357;
}

.info-registration__contact-header {
	width: 320px;
	padding-top: 35px;
	padding-left: 10px;
}

.contact-header__tel {
	width: 270px;
	min-height: 45px;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-left: 22px;
	text-align: center;
	border: 3px solid #ffffff;
	font-size: 21px;
	line-height: 18px;
	color: #ff5357;
}

.contact-header__adress-header {
	margin: 0;
	padding-left: 9px;
	font-size: 14px;
	line-height: 24px;
	color: #3d546e;
}

.info-registration__registration {
	width: 310px;
	margin-right: 0;
	padding-top: 35px;
	padding-left: 29px;
}

.btn-info-registration {
	display: inline-block;
	vertical-align: top;
	font-size: 21px;
	line-height: 18px;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
}

.registration__button-login {
	margin-right: 6px;
	padding-top: 14px;
	padding-bottom: 13px;
	padding-left: 47px;
	padding-right: 26px;
}

.registration__button-registration {
	padding-top: 14px;
	padding-bottom: 13px;
	padding-left: 24px;
	padding-right: 24px;
}

.navigation-header__list-nav {
	margin: 0;
	padding: 0;
}

.list-nav__item-list {
	display: inline-block; 
	margin-right: -4px;
	background-color: #3d546e;
	box-shadow: 0 5px 0 0 #35475e;
}

.list-nav__item-list:last-child {
	margin-right: 0;
}

.item-list__a {
	display: block;
	padding-top: 16px;
	padding-bottom: 14px;
	color: #ffffff;
	text-decoration: none;
}

.a-item-1 {
	padding-left: 51px;
	padding-right: 50px;
}

.a-item-2 {
	padding-left: 21px;
	padding-right: 21px;
}

.a-item-3 {
	padding-left: 38px;
	padding-right: 38px;
}

.a-item-4 {
	padding-left: 26px;
	padding-right: 26px;
}

.a-item-5 {
	padding-left: 36px;
	padding-right: 36px;
}

.a-item-6 {
	padding-left: 33px;
	padding-right: 33px;
}

.a-item-7 {
	padding-left: 34px;
	padding-right: 57px;
}



